@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @{
        var Sayi1 = 46;6
        var Sayi2 = 74;
    }
    <b>Sayi1</b> Değeri = @deger1
    <br/>
    <b>Sayi2</b> Değeri = @deger2
    <br/>
    <span style="color:green;font-size:larger;">@(Sayi1+Sayi2)</span>


</div>
